<!DOCTYPE html> 
<html> 
<head> 
  <title>TEDxBoulder</title> 
  <link href="/stylesheets/tedxboulder.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head> 
<body> 
	<div id="wrapper">
	  <div id="content">
	    <div id="header">
	      <img src="images/logo.png" id="logo" alt="TEDxBoulder (x = independently organized TED event)">
	      <div id="venuedate">
	        <div id="date">SEPTEMBER 24, 2011</div>	
	        <div id="venue">MACKY AUDITORIUM / THE UNIVERSITY OF COLORADO</div>		        
	      </div>
	      <div class="clear"></div>
	    </div>
	    <div id="main">
	      <img src="images/title.png" id="title" alt="Time & Change">
        <h2>INSPIRED ACTION, DEEPER THINKING, GREATER SHARING</h2>
        <div class="clear"></div>
        <p>
          <span class="redemph">TEDxBoulder</span> is an innovative event bringing high level talks, musical performances and innovative demonstrations to the amazing community of Boulder. Powerful, inspiring, and quickly evolving short talks and performances will explore new ideas and incite fresh views. On September 24th, in the beautiful Macky Auditorium at the University of Colorado, this one-day event will give you a chance to listen to local ideas worth spreading, while connecting with others to create something greater. Featuring 12 of the region's most inspiring and visionary thinkers, catalysts, athletes, artists, musicians, and professionals, this intellectual adventure will spark new ideas and stimulate change.
        </p>
        <div id="photo2010">
          <img src="images/photo2010.png" alt="TEDxBoulder 2010">
          <span>TEDxBoulder 2010</span>
        </div>
        <div class="clear"></div>
        <ul id="buttons">
          <!--
          <li><a href="speak"><span>APPLY TO SPEAK &rarr;</span></a></li>
          <li><a href="volunteer"><span>VOLUNTEER &rarr;</span></a></li>
          -->
          <li><a href="http://2010.tedxboulder.com"><span>&larr; PAST EVENT 2010</span></a></li>
          <li><a href="http://bit.ly/TEDxBoulderTix"><span>PURCHASE TICKETS 2011 &rarr;</span></a></li>
        </ul>
        <div id="note">
          2011 speakers include: 
          <ul>
            <li>Threadless Co-Founder - Jake Nickell</li>
            <li>The Bad Astronomer - Dr. Philip Plait</li>
            <li>Food Culture - Kimbal Musk</li>
            <li>Insulin Epidemic - Dr. Brandon Lundell</li>
            <li>School Food Revolution - Ann Cooper</li>
            <li>Ice Survey Film - Jeff Orlowski</li>
            <li>Truman National Security Project - Rachel Kleinfeld</li>
            <li class="fade">More speakers and details coming very soon...</li>
          </ul>
        </div>
	    </div>
	  </div>
	</div>
	<div id="footer">
	  <div id="quote-container">
      <div id="quote">
        <p>They say that time changes things, but you actually have to change them yourself.</p>
        <i>- Andy Warhol</i>
      </div>
    </div>
    <div id="tagline">
      <span>
        TEDXBOULDER WILL INSPIRE YOU TO ACT, THINK AND SHARE.
      </span>
    </div>
  </div>
</body> 
</html>

