/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../views/stylesheets/tedxboulder.scss */
body {
  background: url('../images/mattebg.png') repeat;
  font-size: 100%;
  font-family: Helvetica;
}

/* line 13, ../../views/stylesheets/tedxboulder.scss */
#wrapper {
  width: 940px;
  margin: 0 auto;
}

/* line 20, ../../views/stylesheets/tedxboulder.scss */
#header {
  padding-top: 35px;
  padding-bottom: 89px;
}
/* line 24, ../../views/stylesheets/tedxboulder.scss */
#header #logo {
  float: left;
}
/* line 28, ../../views/stylesheets/tedxboulder.scss */
#header #venuedate {
  margin-top: 28px;
  float: right;
  text-align: right;
  font-size: 0.70em;
  font-weight: bold;
}
/* line 36, ../../views/stylesheets/tedxboulder.scss */
#header #date {
  margin-bottom: 5px;
  color: #ee3124;
}

/* line 47, ../../views/stylesheets/tedxboulder.scss */
#main h1 {
  font-size: 120px;
  color: #EE3124;
  font-weight: bold;
  margin-bottom: 14px;
  letter-spacing: -5.5px;
}
/* line 55, ../../views/stylesheets/tedxboulder.scss */
#main h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 35px;
}
/* line 62, ../../views/stylesheets/tedxboulder.scss */
#main p {
  font-size: 1em;
  line-height: 1.45em;
  width: 445px;
  float: left;
}
/* line 69, ../../views/stylesheets/tedxboulder.scss */
#main .redemph {
  font-size: 1.125em;
  font-weight: bold;
  color: #ee3124;
}
/* line 75, ../../views/stylesheets/tedxboulder.scss */
#main #photo2010 {
  float: right;
  width: 460px;
}
/* line 79, ../../views/stylesheets/tedxboulder.scss */
#main #photo2010 img {
  margin-bottom: 10px;
}
/* line 83, ../../views/stylesheets/tedxboulder.scss */
#main #photo2010 span {
  color: #A6A6A6;
  font-size: 0.6em;
}

/* line 90, ../../views/stylesheets/tedxboulder.scss */
#buttons {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 30px;
  margin-bottom: 15px;
}
/* line 60, ../../../../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#buttons li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
}
/* line 95, ../../views/stylesheets/tedxboulder.scss */
#buttons li {
  margin-right: 5px;
  height: 40px;
}
/* line 99, ../../views/stylesheets/tedxboulder.scss */
#buttons li a {
  font-family: 'Arial Narrow', 'Arial';
  float: left;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background: #E6E7E8;
  color: #333132;
  font-size: .9em;
  font-weight: bold;
  padding-top: 14px;
}
/* line 111, ../../views/stylesheets/tedxboulder.scss */
#buttons li a span {
  padding: 0 15px;
}
/* line 116, ../../views/stylesheets/tedxboulder.scss */
#buttons li a:hover {
  color: #fff;
  background: #333132;
}

/* line 123, ../../views/stylesheets/tedxboulder.scss */
#note {
  font-size: .85em;
  color: #A6A6A6;
  margin-bottom: 15px;
}

/* line 129, ../../views/stylesheets/tedxboulder.scss */
#footer {
  width: 100%;
}

/* line 133, ../../views/stylesheets/tedxboulder.scss */
#quote-container {
  background: #ee3124;
  height: 367px;
}

/* line 138, ../../views/stylesheets/tedxboulder.scss */
#quote {
  padding-top: 42px;
  width: 940px;
  margin: 0 auto;
  color: #D9110B;
  font-size: 80px;
  font-family: Helvetica;
}
/* line 146, ../../views/stylesheets/tedxboulder.scss */
#quote p {
  font-weight: bold;
  letter-spacing: -3.75px;
  float: left;
  margin-left: -38px;
  line-height: 0.9em;
}
/* line 154, ../../views/stylesheets/tedxboulder.scss */
#quote i {
  font-size: 20px;
  margin-top: 5px;
  float: right;
}

/* line 161, ../../views/stylesheets/tedxboulder.scss */
#tagline {
  height: 55px;
  background: #333132;
  text-align: center;
  color: #fff;
  padding-top: 65px;
  font-size: 0.75em;
  font-weight: bold;
}

/* line 173, ../../views/stylesheets/tedxboulder.scss */
.clear {
  clear: both;
}
